* {
  --borderColor: rgba(0, 0, 0, 0.164);
}
.navBar {
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--borderColor);
  background-color: white;
}
