.post {
  max-width: 700px;
  margin: 1px 20px;
  border: 1px solid var(--borderColor);
}
.post footer {
  display: flex;
  flex-direction: column;
}
.post p {
  padding: 10px;
}
.post input {
  height: 30px;
  border: 1px solid var(--borderColor);
  border-width: 1px 0;
  color: var(--borderColor);
}
.post strong {
  margin-left: 10px;
  margin-right: 5px;
}
.post header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.post img {
  width: 100%;
}
